<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Pricing Page
    </div>

    <div class="horizontal">
      <%= link_to('Home Page', {controller: 'main' , action: 'index'}) %> |
      <%= link_to('Bikes/Stations', {controller: 'stations' , action: 'index'}) %> |
      <%= link_to('Pricing', {controller: 'main' , action: 'pricing'}) %> |
      <%= link_to('Contact', {controller: 'main' , action: 'contact'}) %> |
      <%= link_to('Account', {controller: 'main' , action: 'account'}) %>
    </div>
  </div>
</div>
