<div class="record-row flexbox vertical stretch">
  <div class="record-name">
<% if trip&.end_station_id%>
     Trip  <%= trip.id %>
  </div>
  <div class="section-body">
      Status: <b>Ended</b> <br>
      Trip Length: <%=trip.time[0]%>h <%=trip.time[1]%>m <%=trip.time[2]%>s<br>
      Cost:  <br>
      <b>Start Location:</b> <%= Station.find(trip.start_station_is).address %> <br>
      <b>Start Time:</b> <%= trip.start_time.in_time_zone('America/New_York').
                            strftime("%m/%d/%Y %I:%M %p")   %>
      <br>
      <b>End Location:</b> <%=Station.find(trip.end_station_id).address %> <br>
      <b>End Time:</b> <%= trip.end_time.in_time_zone('America/New_York').
                             strftime("%m/%d/%Y %I:%M %p")   %>
    </div>
  </div>
  <% end %>
