<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title text-center">
      Your trip has ended successfully
    </div>
    <div class = "row">
        <div class = "col-lg-3"></div>
        <div class = "col-lg-6">
            <div class="section-caption text-center">
                Details on your trip
            </div>
        </div>
        <div class = "col-lg-3"></div>
    </div>
    <div class = "row">
        <div class = "col-lg-3"></div>
        <div class = "col-lg-6">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">ID</th>
                            <td><%= @trip.id %></td>
                        </tr>
                        <tr>
                            <th scope="row">Duration</th>
                            <td><%= @trip.time[0]%>h <%= @trip.time[1]%>m <%= @trip.time[2]%>s<br></td>
                        </tr>
                        <tr>
                            <th scope="row">Start Location</th>
                            <td><%= Station.find(@trip.start_station_is).address %></td>
                        </tr>
                        <tr>
                            <th scope="row">Start Time</th>
                            <td><%= @trip.start_time.in_time_zone('America/New_York').
                            strftime("%m/%d/%Y %I:%M %p")   %></td>
                        </tr>
                        <tr>
                            <th scope="row">End Location</th>
                            <td><%=Station.find(@trip.end_station_id).address %></td>
                        </tr>
                        <tr>
                            <th scope="row">End Time</th>
                            <td><%= @trip.end_time.in_time_zone('America/New_York').
                             strftime("%m/%d/%Y %I:%M %p")   %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-3 text-center">
                <%= link_to("Go to trip dashboard", trips_path, class: "custom-btn btn-fill", style: "color: unset; text-decoration: unset;") %>
            </div>
        </div>
        <div class = "col-lg-3"></div>
    </div>
</div>
</div>

