<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class = "row">
        <nav aria-label="breadcrumb" class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to 'All bikes', station_path(@station.id), class: "link-regular" %></li>
                <li class="breadcrumb-item active" aria-current="page">Bike <%= @bike.identifier %></li>
            </ol>
        </nav>
    </div>
    <div class="section-title text-center">
       Start a new trip
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
        <%= form_for(@trip) do |f| %>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Bike ID</th>
                            <td><%= @bike.identifier %></td>
                        </tr>
                        <tr>
                            <th scope="row">User</th>
                            <td><%= @user.email %></td>
                        </tr>
                        <tr>
                            <th scope="row">Station</th>
                            <td><%= @station.identifier %></td>
                        </tr>
                        <%= f.hidden_field :bike_id, value: @bike.id %>
                        <%= f.hidden_field :user_id, value: @user.id %>
                        <%= f.hidden_field :start_station_is, value: @station.id %>
                        <%= f.hidden_field :start_time, value: DateTime.now %>
                    </tbody>
                </table>
            </div>
            <div class="mt-3 text-center">
                <%= f.submit("Create Trip", class: "custom-btn btn-fill") %>
            </div>
            <% end %>
        </div>
        <div class="col-lg-3"></div>
        </div>
  </div>
</div>
