<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class = "row">
        <nav aria-label="breadcrumb" class="breadcrumb-container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to 'All bikes', station_path(@station.id) %></li>
                <li class="breadcrumb-item active" aria-current="page">Bike <%= @bike.identifier %></li>
            </ol>
        </nav>
    </div>
    <div class="section-title text-center">
       Start a new trip
    </div>

    <div class="row">
        

        <%= form_for(@trip) do |f| %>
        <table summary="Trip form fields">
            <tr>
            <th>Bike ID: </th>
            <td><%= @bike.identifier %></td>
            </tr>
            <tr>
            <tr>
            <th>User ID:</th>
            <td><%= @user.id %></td>
            </tr>
            <tr>
            <tr>
            <th>Station:</th>
            <td><%= @station.identifier %></td>
            </tr>
            <tr>
            <tr>
            <tr>
            <%= f.hidden_field :bike_id, value: @bike.id %>
            <%= f.hidden_field :user_id, value: @user.id %>
            <%= f.hidden_field :start_station_is, value: @station.id %>
            <%= f.hidden_field :start_time, value: DateTime.now %>
            <tr>
            </tr>
            </table>

            <div class="form-buttons">
                <%= f.submit("Create Trip") %>
            </div>

            <% end %>
        </div>
  </div>
</div>
