<div id="map-controller" 
  data-controller="map"
  data-map-lat-value="<%= lats %>"
  data-map-long-value="<%= longs %>"
  data-map-name-value="<%= names %>"
  data-map-identifier-value="<%= identifiers %>"
  data-map-id-value="<%= ids %>"
  data-map-address-value="<%= addresses %>"
  data-map-bike-value="<%= bikes %>"
  data-map-userid-value="<%= userid %>"
  data-map-tripid-value="<%= tripid %>"
  data-map-iduser-value="<%= iduser %>"
  data-map-idtrip-value="<%= idtrip %>"
  data-map-pfp-value="<%= @user && @user.avatar? ? @user.avatar_url : image_url('fallback/default.png') %>"
>
  <div id="map-interactive" data-map-target="container"></div>
</div>