<div id="map-controller" 
  data-controller="map"
  data-map-lat-value="<%= lats %>"
  data-map-long-value="<%= longs %>"
  data-map-name-value="<%= names %>"
  data-map-id-value="<%= ids %>"
 data-map-address-value="<%= addresses %>"
 data-map-bike-value="<%= bikes %>"
>
  <div id="map-interactive" data-map-target="container"></div>
</div>