<div class="record-row">
      <div class="row">
        <div class="col-lg-8">
            <div class="record-name">
                Station <%= station.identifier %>: <%= station.name %>
            </div>
            <%= station.address %><br>
            <%= Bike.where(current_station_id: station.id).length %> available bike(s)
        </div>
        <div class="col-lg-4 d-flex flex-row-reverse align-items-start">
            <% bikes = Bike.where(current_station_id: station.id) %>
            <!-- Not Logged in!! -->
            <% if @user&.id.nil?%>
            <link_to onclick="reserve_alert('Please log in to reserve a bike!')"
                    class="mt-3 custom-btn btn-invalid">Reserve Bike</link_to>
            <% elsif bikes.count == 0 && station&.id && !@user.current_trip_id%>
                <link_to onclick="reserve_alert('No bikes at this station!')"
                        class="mt-3 custom-btn btn-invalid">Reserve Bike</link_to>

            <!-- Everything good! Reserve bike! -->
            <% elsif !@user&.id.nil? && !station&.id.nil? && !@user.current_trip_id.present? && bikes%>
                <%= link_to 'Reserve Bike',new_trip_path(station_id: station.id, user_id: @user.id),
                            class: "mt-3 custom-btn btn-fill", method: :get,  :style=>' color: unset; text-decoration: unset;'%>
                <!-- Already Have Bike! -->
            <% elsif station&.id &&
                @trip&.id && @user.current_trip_id%>
                <%= link_to 'Return Bike Here', end_confirm_path(id:@trip&.id, end_station_id: station.id, user_id: @user.id), class: "mt-3 custom-btn btn-fill",
                            :style=>' color: unset; text-decoration: unset;'%>
            <% end %>
        </div>
  </div>
  <script>
      function reserve_alert(string) {
          alert(string);
      }
  </script>
</div>


