<div class="flexbox vertical stretch">
  <div class="section-title">
    Station <%= station.identifier %>
  </div>
  <%= station.name %> (<%= station.address %>)
  <div class="flexbox vertical stretch">
    <%= Bike.where(current_station_id: station.id).length %> available bikes
  </div>
  <div class="flexbox vertical stretch">
    <%= button_to('More Details', station_path(station), class: "mt-3 custom-btn btn-outline", method: :get) %>
  </div>
</div>
