<% content_for :head do %>
<% end %>

<% content_for :content do %>
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title text-center">
        Bikes and Stations
      </div>

      <div id="map-controller" 
        data-controller="map"
        data-map-lat-value="<%= @lats %>"
        data-map-long-value="<%= @longs %>"
        data-map-name-value="<%= @names %>"
        data-map-id-value="<%= @ids %>"
      >
        <div id="map-interactive" data-map-target="container"></div>
      </div>

      <div class="flexbox vertical stretch mt-5" id="stations">
        <% if @stations.present? %>
          <%= render(partial: "stations/row", collection: @stations, as: :station) %>
        <% else %>
        <div class="empty">
          No stations found.
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
