<% content_for :content do %>
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title text-center">
        Find a Station
      </div>

      <div id="map-controller" 
        data-controller="map"
        data-map-lat-value="<%= @lats %>"
        data-map-long-value="<%= @longs %>"
        data-map-name-value="<%= @names %>"
        data-map-id-value="<%= @ids %>"
        data-map-pfp-value="<%= @user.avatar? ? @user.avatar_url : 'fallback/default.png' %>"
        data-map-user-value="<%= @uCoords %>"
      >
        <div id="map-interactive" data-map-target="container"></div>
      </div>

      <div class="flexbox vertical stretch mt-5" id="stations">
        <% if @stations.present? %> </div> <br>
          <div class="section-body">
            <%= @stations.count %> stations found
          </div>
          <%= render(partial: "stations/row", collection: @stations, as: :station) %>
        <% else %>
        <div class="empty">
          No stations found.
        </div>
        <% end %>
      </div>
    </div>
<% end %>
