

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Bikes and Stations
    </div>

    <div class="horizontal">
      <%= link_to('Home Page', {controller: 'main' , action: 'index'}) %> |
      <%= link_to('Bikes/Stations', {controller: 'stations' , action: 'index'}) %> |
      <%= link_to('Pricing', {controller: 'main' , action: 'pricing'}) %> |
      <%= link_to('Contact', {controller: 'main' , action: 'contact'}) %> |
      <%= link_to('Account', {controller: 'main' , action: 'account'}) %>
    </div>

    <div class="flexbox vertical stretch" id="stations">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
  </div>
</div>
