<% content_for :head do %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
  <link rel="stylesheet"
    href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
  <%= javascript_include_tag('https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js') %>
  <%= javascript_include_tag('osm_map.js') %>
<% end %>

<% content_for :content do %>
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title">
        Bikes and Stations
      </div>

      <%= render partial: "stations/leaflet" %>

      <div class="flexbox vertical stretch" id="stations">
        <% if @stations.present? %>
          <%= render(partial: "stations/row", collection: @stations, as: :station) %>
        <% else %>
        <div class="empty">
          No stations found.
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/main" %>
