<%= link_to('< Back to Stations', {controller: 'stations', action: 'index'}) %><br />

Info for Station: <%= @station.identifier %>: <%= @station.name %> (<%= @station.address %>)
<div class="flexbox vertical stretch">
  <%= Bike.where(current_station_id: @station.id).length %> available bikes:
  <%= render(partial: "bikes/row", collection: Bike.where(current_station_id: @station.id), as: :bike )%>

</div>