<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="row">
            <nav aria-label="breadcrumb" class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%= link_to 'All stations', stations_path, class: "link-regular" %></li>
                    <li class="breadcrumb-item active" aria-current="page">Station <%= @station.name %></li>
                </ol>
            </nav>
      </div>
      <div class="section-title text-center">
        <%= @station.identifier %>: <%= @station.name %>
      </div>
      <div class="section-caption text-center">
        <%= @station.address %>
      </div>
      <div class="row">
        <% unless @user&.current_trip_id.nil? && @trip&.id.nil? %>
            <button type="button" data-bs-toggle="modal" 
            data-bs-target="#returnModal" 
            class="custom-btn btn-fill"
            style="width: auto; margin: 1rem auto">
                Return bike to this station
            </button>
                <div   class = "modal" id = "returnModal" 
                        aria-labelledby="returnModal" 
                        aria-hidden="true"
                        tabindex="-1">
                    <div class = "modal-dialog modal-lg modal-dialog-centered">
                        <div class = "modal-content">
                            <div class = "modal-header">
                                <h5 class="modal-title">Return here?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class = "modal-body">
                                Please confirm that you want to return the bike for the trip #<%= @trip&.id %> at this location 
                                (<%= @station.address %>).
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="custom-btn btn-outline" data-bs-dismiss="modal">Close</button>
                                <%= link_to 'Return Bike to This Station', end_confirm_path(id:@trip&.id, user_id: @user.id, end_station_id: @station.id),
                        class: "custom-btn btn-outline", style: 'color: unset; text-decoration: unset;'%>
                            </div>
                        </div>
                    </div>
                </div>
            
        <% end %>
        <p class="text-center">
            <%= Bike.where(current_station_id: @station.id).length %> available bike(s)
        </p>
        <%= render(partial: "bikes/row", collection: Bike.where(current_station_id: @station.id), as: :bike )%>
      </div>
    </div>
</div>