<!-- Desktop -->
<nav class="navbar fixed-top navbar-desktop">
    <div class="container">
        <ul class="header">
          <li>
            <%= link_to root_path do %>
              <img src="<%= asset_path('logo.png') %>" style="width:300px">
            <% end %>
          </li>
            <li>
                <%= link_to('Home', {controller: 'main' , action: 'index'}) %>
            </li>
            <li>
                <%= link_to('Stations', {controller: 'stations' , action: 'index'}) %>
            </li>
            <li>
                <%= link_to("Trips", {controller: 'trips' , action: 'index'}) %>
            </li>
            <li>
                <%= link_to('Pricing', {controller: 'payments' , action: 'index'}) %> 
            </li>
            <li>
                <%= link_to('Contact', {controller: 'main' , action: 'contact'}) %> 
            </li>
            <li>
                <%= link_to('Account', {controller: 'account' , action: 'index'}, style: "padding-right: 2rem") %>
            </li>
        </ul>
    </div>
</nav>

<!-- Mobile -->
<nav class="navbar navbar-expand-lg navbar-light navbar-mobile d-md-none">



  <div class="col-lg-4 d-flex align-items-center">
  <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" 
            data-bs-target="#navbarToggler" 
            aria-controls="navbarToggler" 
            aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="navbar-brand mx-auto">
      <%= link_to root_path do %>
        <img src="<%= asset_path('logo.png') %>" style="width:200px;">
      <% end %>
    </div>
  </div>

  <div class="navbar-collapse collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to('Home', {controller: 'main' , action: 'index'}) %>
      </li>
      <li class="nav-item">
        <%= link_to('Bikes/Stations', {controller: 'stations' , action: 'index'}) %> 
      </li>
      <li class="nav-item">
        <%= link_to("Trips", {controller: 'trips' , action: 'index'}) %>
      </li>
      <li class="nav-item">
        <%= link_to('Pricing', {controller: 'payments' , action: 'index'}) %> 
      </li>
      <li class="nav-item">
        <%= link_to('Contact', {controller: 'main' , action: 'contact'}) %> 
      </li>
      <li class="nav-item">
        <%= link_to('Account', {controller: 'account' , action: 'index'}) %>
      </li>
    </ul>
  </div>
</nav>