<div class = "row">
    <div class = "col-lg-3"></div>
    <div class = "col-lg-6">
        <div class="record-row">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center">
                    <div class="record-name mb-0">
                        Bike <%= bike.identifier %>
                    </div>
                </div>
                <div class="col-lg-8 d-flex flex-row-reverse align-items-center">
                    <% user = get_user_info_from_session %>
                    <% station = bike.get_station %>
                    <% if !logged_in? || !user %>
                        <%= button_to('Reserve Bike', {}, class: "custom-btn btn-invalid", method: :get) %>
                        <small style="margin-right: 1rem"> Please log in to reserve bike </small>
                    <% elsif user.has_trip?%>
                        <%= button_to('Reserve Bike', {}, class: "custom-btn btn-invalid", method: :get) %>
                        <small style="margin-right: 1rem"> Please return your current bike to reserve a new one </small>
                    <% elsif !bike.available? %>
                        <%= button_to('Reserve Bike', {}, class: "custom-btn btn-invalid", method: :get) %>
                        <small style="margin-right: 1rem"> Bike is currently Unavailable </small>
                    <% else %>
                        <%= link_to 'Reserve Bike', new_trip_path(bike_id: bike.id, station_id: station.id, user_id: user.id),
                                    class: 'custom-btn btn-outline', method: :get,  :style=>' color: unset; text-decoration: unset;'%>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-lg-3"></div>
</div>
