<div class="record-row">
  <div class="record-name">
    Bike <%= bike.identifier %>
  </div>
  <div class="record-details">
    <% user = get_user_info_from_session %>
    <% station = bike.get_station %>
  </div>
  <% if !logged_in? || !user %>
    <%= button_to('Reserve Bike', {}, class: "mt-3 custom-btn btn-invalid", method: :get) %>
    <small> Please log in to reserve bike </small>
  <% else if user.has_trip?%>
    <%= button_to('Reserve Bike', {}, class: "mt-3 custom-btn btn-invalid", method: :get) %>
    <small> Please return your current bike to reserve a new one </small>
  <% else if !bike.available? %>
    <%= button_to('Reserve Bike', {}, class: "mt-3 custom-btn btn-invalid", method: :get) %>
    <small> Bike is currently Unavailable </small>
  <% else %>
  <div class="mt-3 custom-btn btn-outline">
    <%= link_to 'Reserve Bike', new_trip_path(bike_id: bike.id, station_id: station.id, user_id: user.id),
                class: 'action new', method: :get,  :style=>' color: unset; text-decoration: unset;'%>
  </div>
  <% end %>
  <% end %>
  <% end %>

<!--  <%# if bike.is_users?(@user) %>
    Yours!!
  <%# else  %>
    Not Yours!!
  <%# end %>-->
</div>
