<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title text-center">
      My account
    </div>

    <% if @user %>
        <div class = "row">
            <% if flash[:notice] %>
                <div class = "alert alert-success">
                    <p class = "error-message"><%= flash[:notice] %></p>
                </div>
            <% end %>
        </div>
        <div class = "row">
            <div class = "col-lg-4">
                <div class = "row">
                    <div class = "col-lg-8">
                        <div class = "section-heading">
                            Contact information 
                        </div>
                    </div>
                    <div class = "col-lg-4">
                        <%= button_to 'Edit', 
                            edit_account_path(@user[:id]), 
                            class: "btn-underline regular float-right", 
                            method: :get %>
                    </div>
                </div>
                <%= form_with model: @user, url: account_path(@user[:id]) do |f| %>
                        <% if f.object && f.object.errors.any? %>
                            <div class = "alert alert-warning">
                                <ul class="error-message">
                                    <% f.object.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>

                    <div class = "form-field">
                        <%= f.label :name, "Full name" %>
                        <%= f.text_field :name, placeholder: @user[:name]? @user[:name] : '-' , class: "form-control", :readonly => !@enable_edit %>
                    </div>
                    <div class = "form-field">
                        <%= f.label :email, "Email" %>
                        <%= f.text_field :email, placeholder: @user[:email], class: "form-control", :disabled => true %>
                    </div>
                    <div class = "form-field">
                        <%= f.label :phone_number, "Phone number" %>
                        <%= f.text_field :phone_number, placeholder: @user[:phone_number]? @user[:phone_number] : '-', class: "form-control", :readonly => !@enable_edit %>
                    </div>
                    <% if !!@enable_edit %>
                        <%= f.submit "Reset", class: "mt-3 custom-btn btn-fill" %>
                        <%= button_tag t('buttons.cancel'),
                            type: 'submit',
                            name: 'cancel_edit',
                            disabled: !@enable_edit,
                            class: "ms-3 custom-btn btn-outline" %>
                    <% end %>
                <% end %>

                <div class = "row mt-5">
                    <div class = "col-lg-8">
                        <div class = "section-heading">
                            Account
                        </div>
                    </div>
                    <div class = "col-lg-4"></div>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="mt-3 btn-underline danger">
                    Delete your account 
                </button>
                <div   class = "modal" id = "deleteModal" 
                        aria-labelledby="deleteModal" 
                        aria-hidden="true"
                        tabindex="-1">
                    <div class = "modal-dialog modal-lg modal-dialog-centered">
                        <div class = "modal-content">
                            <div class = "modal-header">
                                <h5 class="modal-title">Delete account</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class = "modal-body">
                                Are you sure that you want to delete your account? We will miss you 😔.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="custom-btn btn-outline" data-bs-dismiss="modal">Close</button>
                                <%= button_to('Delete account', account_path(@user[:id]), class: "custom-btn btn-fill-danger", method: :delete) %>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" data-bs-toggle="modal" data-bs-target="#logoutModal" class="mt-3 btn-underline regular">
                    Log out 
                </button>

                <div   class = "modal" id = "logoutModal" 
                        aria-labelledby="logoutModal" 
                        aria-hidden="true"
                        tabindex="-1">
                    <div class = "modal-dialog modal-lg modal-dialog-centered">
                        <div class = "modal-content">
                            <div class = "modal-header">
                                <h5 class="modal-title">Log out</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class = "modal-body">
                                Proceed to log out?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="custom-btn btn-outline" data-bs-dismiss="modal">Close</button>
                                <%= button_to('Log out', log_out_path, class: "custom-btn btn-fill", method: :post) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-lg-4">
                <div class = "row">

                </div>
                <div class = "section-heading">
                    Payment information 
                </div>
                <% if @user[:stripe_customer_id] %>
                    <p><%= @user[:stripe_customer_id] %></p>
                <% end %>
            </div>
            <div class = "col-lg-4">
                <div class = "float-right">
                    <%= button_to 'Edit', 
                            profile_picture_edit_path(@user[:id]), 
                            class: "btn-underline regular", 
                            method: :get %>
                </div>
                <div class = "avatar-wrapper mt-1 mb-4">
                    <%= image_tag(@user.avatar? ? @user.avatar_url : 'fallback/default.png') %>
                </div>
                <% if !!@enable_profile_upload %>
                        <%= form_with url: {action: :upload_profile_img} do |f| %>
                            <%= f.file_field :avatar, class: "form-control mt-2 mb-2" %>
                            <%= f.hidden_field :avatar_cache %>
                            <%= f.submit "Upload", class: "mt-3 custom-btn btn-fill"%>
                            <%= button_tag 'Remove profile picture',
                                type: 'submit',
                                name: 'cancel_edit_pfp',
                                class: "ms-3 custom-btn btn-fill-danger" %>
                        <% end %>
                <% end %>
            </div>
        </div>
    <% else %>
      <div class="alert alert-warning">
        No account found.
      </div>
    <% end %>

  </div>
</div>
